/* 
 * Stylesheet for displaying text (annotated speech and native text) in Mixtec project
 * 
 */
  
 td {
     color: blue;
 }

 w[cert='low'] or w[cert='medium'] {
     color: red;
 }
 
 span[cert] {
     color: red;
 }