
Analyses-proposals-abstracts/011913_BPT-Sentences-Comparative_Examples_Mixtec.txt

Analyses-proposals-abstracts/130115_Extracts_polysemy_blending_embodiment.rtf

Analyses-proposals-abstracts/130120_BPT_Examples_unused.txt

Analyses-proposals-abstracts/130123_BPT_Examples_MIX.txt

*.pdf

*.docx

*.rtf

*.key

*.ppt

*.pptx

*.xlsx

*.eps

*.mov

*.MOV

*.wav

project-bibl/Simmons_2002-BestPractice-TEI.xml
