/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }

entry {
    margin:1em;
    display: block;
    border: 1px solid silver;
    padding: 20px
}

form[type="lemma"] > orth {
    font-size: 22px;
    font-weight: bold;
    display: inline;
}

form[type="variant"] > orth::before {
    content: ", "
}

form[type="variant"] > orth {
    font-size: 22px !important;
    font-weight: bold;
    display: inline;
    color:gray
}

pron {
    font-size: 20px !important;
    display: inline;
    background-color: PaleGreen;
    font-weight: normal !important;
}

pron::before {
    content:"["
}

pron::after {
    content:"]"
}

colloc {
    font-style:italic;
    color:gray
}

/*  
 li:nth-of-type(2n) {
  background: lightslategrey;
 */

/* things to mark-up on any level */

gramGrp {
    display: inline;
    font-style: italic;
}

pc {
    display: inline;
}

/* things to mark-up in etymQuote */

sense:nth-of-type(1)::before {
    content: "\A (1)"
}
    
sense:nth-of-type(2)::before {
    content: "\A (2)"
}   

sense:nth-of-type(3)::before {
    content: "\A (3)"
}   

sense:nth-of-type(4)::before {
    content: "\A (4)"
}   

sense {
    display: inline;
    line-break: loose;
    content: "\A";
}



/* WHY IS THIS NOT WORKING! */
xr {
    text-align: right !important;
    content: "\A";
}

xr[type="synonymOf"]::before {
    content: "(Syn) "
}

/* FIX!!!  MAKE ONLY APPEAR IN FRONT OF FIRST INSTANCE*/
xr[type="meronymOf"] > ref::before {
    content: "(Part of) "
}

usg[type="domain"] {
    text-transform:lowercase; /* just for debugg attempt */
    display: inline;
    line-break: loose;
    content: "\A";
    color:blue
}
.domain {
    font-variant:small-caps /* WHY IS THIS NOT WORKING! */
}

cit[type="translation"] > form {
    display: inline;
    line-break: loose;
    content: "\A";
    font-size: 16px !important;
    font-weight: bold;
}

/*  
form.one > orth[xml:lang="en"]:nth-of-type(1)::before {
    content: "\A (1)"
}*/


/* MAKE SPECIFIC FORMATTING FOR TRANSLATIONS OF EXAMPLE */

cit[type="example"] {
    display: inline;
    line-break: loose;
    content: "\A";
    font-size: 16px;
    font-style: italic;
}

cit[type="example"] > cit[type="translation"]  {
    display: inline;
    line-break: loose;
    content: "\A";
    font-size: 16px;
    font-style: italic;
}

/* UPDATE THE FORMATTING OF EXAMPLES */
cit[type="translation"] > quote  {
    display: inline;
    line-break: loose;
    font-size: 14px;
    font-style: italic;
}



re {
    display: block;
    border: 1px solid silver;
    /*  
   rather than a "related entry" label, should have different formatting
*/
}

re > gramGrp {
    font-weight: normal !important;
    display: inline;
    font-style: italic;
}

/* figure out why "etym.one::before {" removes ALL labels from etym!*/
etym::before {
    line-break: loose;
    text-indent: 50px;
    font-weight: bold;
    content: " \A (Etymology)"
}

etym { 
    display: block;
    border: 1px solid silver;
    line-break: loose;
    content: "\A";
}

/* add printing for types & subtypes of etymology */

seg::after {
    content: "\A";
}

/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
